@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--Soft-blue);
    position: absolute;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Colors */

/* Primary */

:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);

/* Neutral */

    --White: hsl(0, 0%, 100%);
    --Rose-white: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-grey: hsl(30, 18%, 87%);
    --Wenge-brown: hsl(30, 10%, 34%);
    --Dark-charcoal: hsl(24, 5%, 18%);
}

body {
    background-color: var(--Eggshell);
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* background */

.container {
    margin: 50px 50px;
    text-align: left;
    justify-content: center;
}

.card {
  background-color: var(--White);
  max-width: 700px;
  border-radius: 20px;
  padding: 20px;
}

.container img {
    width: 100%;
    border-radius: 7.5px;
    margin: auto;
}

.preparation-time {
    background-color: var(--Rose-white);
    margin: 20px 0;
    padding: 20px;
}

/* Headings & Paragraphs */

h1 {
    font-family: 'Young Serif', sans-serif;
    letter-spacing: 1px;
    padding: 10px 0;
    color: var(--Dark-charcoal);
}

/* Lists */

ul.a {
    list-style-type: circle;
}
