@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */

/* Primary */

:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);

/* Neutral */

    --White: hsl(0, 0%, 100%);
    --Rose-white: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-grey: hsl(30, 18%, 87%);
    --Wenge-brown: hsl(30, 10%, 34%);
    --Dark-charcoal: hsl(24, 5%, 18%);
}

body {
    background-color: var(--Eggshell);
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* background */

.container {
    margin: 50px;
    text-align: left;
    justify-content: center;
    display: flex;
    flex: 1;
}

.card {
  background-color: var(--White);
  max-width: 700px;
  border-radius: 20px;
  padding: 30px;
}

.container img {
    width: 100%;
    border-radius: 7.5px;
    margin: auto;
}

/* Headings & Paragraphs */

h1 {
    font-family: 'Young Serif', sans-serif;
    letter-spacing: 1px;
    padding: 10px 0;
    color: var(--Dark-charcoal);
}

h2 {
    font-family: 'Young Serif', sans-serif;
    padding: 10px 0;
    letter-spacing: 1px;
    color: var(--Nutmeg);
}

h3 {
    color: var(--Dark-Raspberry);
}

p {
    font-family: 'Outfit', sans-serif;
    color: var(--Wenge-brown);
}

/* Preparation time */
.preparation-time {
    background-color: var(--Rose-white);
    margin: 15px 0px;
    padding: 15px;
}

.prep-time {
    color: var(--Wenge-brown);
    padding: 5px;
    margin: 5px 10px;
}

.prep {
    font-weight: bold;
}

/* Ingredients */

.ingredients {
    padding: 5px 15px;
    margin: 5px 5px;
    color: var(--Wenge-brown);
}

/*lists*/

li {
    padding: 5px 15px;
}

ol li {
    margin: 5px 20px;
    color: var(--Nutmeg);
    font-weight: bold;
}

.list-text {
    color: var(--Wenge-brown);
    font-weight: 400;
}

.recipe-page {
    color: var(--Wenge-brown);
    font-weight: 700;
}

/*Nutrition*/

.nutrition {
    padding: 5px 20px;
    margin: 5px 5px;
    color: var(--Wenge-brown);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--Light-grey);
}

tr:last-child {
    border-bottom: none;
}

td {
    padding: 10px 20px;
}

.cal {
    color: var(--Nutmeg);
    font-weight: bold;
}

.cont {
    color: var(--Wenge-brown);
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--Soft-blue);
    padding: 5px;
    margin-top: auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
    .container {
        margin: 10px;
    }
}
